@import url('/css/geral.css');

body {
	background: var(--blue-body);
}

:root {
    --text: #BFC4DF;
    --red: #C02401;
    --blue: #041281;
    --blue-body: #020714;
    --meianoite: #051119;
    --caféqueimado: #140E0A;
    --florestanoturna: #121813;
    --cacau: #191815;
    --carvao: #282729;
    --carvao2: #464647;
    --blue-rodape: #02091b;
    --blue-rodape-botton: #051233;
}

/* ------------------------------------------------------------- */

/* GRID */

.border {
    border: 1px solid white;
}

#container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "header header header"
    "left main right"
    "footer footer footer";
}

/* ------------------------------------------------------------- */

header {
    grid-area: header;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;

    .logo {
        img {
            width: 200px;
        }
    }

    .options {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;

		background: #051119;
		border-radius: 18px;
		width: 700px;
		height: 70px;

        a {
            text-decoration: none;
			position: relative;
			overflow: hidden;
        }

		a::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 0;
			height: 2px;
			background-color: var(--blue);
			background-image: linear-gradient(90deg, transparent, #041281, transparent);
			transition: width 0.3s ease;
		}

		a:hover::after {
			width: 100%;
		}

        h1 {
            font-size: 20px;
			font-weight: 200;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: 0.3s ease-in-out;
        }

        h1:hover {
            color: brown;
            font-size: 25px;
			font-weight: 400;
            transition: 0.3s ease-in-out;
        }
    }

    .spider {
        margin-left: 150px;
        width: 70px;
    }
}

#left {
    grid-area: left;
}

#main {
    grid-area: main;
    display: flex;
	justify-content: center;
	align-items: center;
    padding: 10px;
    
    .backgroundmain {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
		width: 100%;
        background: var(--meianoite);
        border-radius: 24px;
        padding: 30px;
        gap: 20px;
        text-align: justify;
	}

    h2 {
        font-size: 25px;
        text-transform: uppercase;
        color: var(--red);
    }

    .intro {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .filme {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 850px;
        background-color: var(--blue-rodape);
		border-radius: 24px;
        padding: 20px;
        gap: 20px;
        
        .card-filme {
            display: flex;
            width: 100%;
            background: var(--carvao);
            border-radius: 24px;

            img {
                width: 230px;
                border-radius: 24px 0px 0px 24px;
                object-fit: cover;
            }

            video {
                width: 620px;
                border-radius: 0px 24px 24px 0px;
            }
        }

        .infos-gerais {
            display: flex;
            padding: 20px;
            background: var(--blue);
            border-radius: 24px;

            .info-filme-detalhes {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 20px;
                padding: 20px;
                background: var(--carvao);
                border-radius: 24px;
    
                h2 {
                    text-align: left;
                }
    
                h3 {
                    opacity: 0.5;
                }
    
                p {
                    text-align: left;
                    font-size: 16px;
                }

                .line-into {
                    width: 250px;
                    border: 1px solid var(--carvao2);
                    border-radius: 100px;
                }
            }
    
            .sinopse {
                display: flex;
                flex-direction: column;
                padding: 20px;
                gap: 20px;
                background: var(--blue);
                border-radius: 24px;

                p {
                    font-size: 14px;
                }
            
    
                .streamings {
                    display: flex;
                    align-items: center;
                    gap: 30px;
    
                    a {
                        text-decoration: none;
            
                        img {
                            width: 35px;
                            opacity: 0.3;
                            transition: all 0.4s;
                        }
            
                        img:hover {
                            opacity: 1;
                            transform: translateY(-10px);
                            transition: all 0.4s;
                        }
                    }
                }
            }
        }

        .info-filmes {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            border-radius: 24px;
            background-color: var(--red);

            .info-filmes-p {
                padding: 30px;
            }

            .info-filmes-gif {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                padding: 20px;
                background-color: var(--blue);
                border-radius: 0px 24px 24px 0px;
    
                img {
                    width: 200px;
                    border-radius: 24px;
                }
            }
        }
    }
}

#right {
    grid-area: right;
}

footer {
    grid-area: footer;
    display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;

	.info-aranha, .info-dev {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 30px;
	}

	p {
		opacity: 0.3;
	}

	img {
		width: 25px;
		opacity: 0.3;
		transition: all 0.4s;
	}

	img:hover {
		opacity: 1;
		transform: translateY(-10px);
		transition: all 0.4s;
	}
}